body {
	font-size: 14px;
	line-height: 21px;
	color: #000;
	font-weight: normal;
	font-family: 'PT Sans', 'Arial', sans-serif;
	text-transform: uppercase;
	margin: 0;
	background-color: #f2f2f2;
}

h2 {
	font-size: 21px;
	line-height: 26px;
	margin: 0;
}

h3 {
	font-size: 21px;
	line-height: 21px;
} 

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 0 20px #ccc;
}

.btn {
	border: 0;
	cursor: pointer;
	font-family: 'PT Sans', 'Arial', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

.main-header {
	position: relative;
	padding: 15px 6%;
}

.main-navigation li {
	display: inline-block;
	vertical-align: top;
	width: 22%;
	margin-right: 5px;
}

.main-navigation li:last-of-type,
.main-navigation li:nth-of-type(3) {
	float: right;
	text-align: right;
	margin-right: 0;
	margin-left: 9px;
}

.main-navigation a {
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
	color: #000000;
}

.main-navigation a:hover {
	color: #81b3d2;
}

.main-navigation a:focus {
	opacity: 0.3;
}

.main-navigation .menu-active {
	color: #766357;
	cursor: pointer;
}

.header-logo {
	position: absolute;
	width: 137px;
	height: 69px;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	margin: 0 auto;
}

.sedona-photo {
	position: relative;
	background: url('../img/sedona-background.jpg');
	min-height: 510px;
	max-height: 773px;
}

.sedona-photo:after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 57px;
	background-image: url('../img/white.png');
}

.sedona-text-welcome {
	position: absolute;
	background: url('../img/welcome.png');
	height: 86px;
	width: 188px;
	top: 77px;
	right: 0;
	left: 0;
	margin: 0 auto;
}

.sedona-text-name {
	position: absolute;
	background: url('../img/sedona.png');
	height: 78px;
	width: 458px;
	top: 215px;
	right: 0;
	left: 0;
	margin: 0 auto;
}

.sedona-text-slogan {
	position: absolute;
	background: url('../img/slogan.png');
	width: 296px;
	height: 80px;
	bottom: 80px;
	right: 0;
	left: 0;
	margin: 0 auto;
}

.sedona-info {
	padding-top: 60px;
	padding-bottom: 52px;
	text-align: center;
}

.sedona-info h2 {
	margin-bottom: 30px;
}

.real-town {
	position: relative;
	max-height: 322px;
	overflow: hidden;
}

.real-town-info {
	float: left;
	width: 400px;
	padding-top: 34px;
	padding-bottom: 52px;
	text-align: center;
	color: #fff;
	background-color: #81b3d2;
}

.reason-number {
	display: block;
	padding-top: 2px;
	padding-bottom: 21px;
}

.reason-text {
	display: inline-block;
	vertical-align: top;
	max-width: 280px;
}

.real-town-photo {
	position: absolute;
	right: 0;
	top: -77px;
	line-height: 0;
}

.features {
	padding-top: 60px;
	padding-bottom: 82px;
}

.features-item {
	display: inline-block;
	vertical-align: top;
	width: 397px;
	text-align: center;
}

.features-item h3 {
	margin-top: 19px;
}

.features-item span {
	display: inline-block;
	vertical-align: top;
	max-width: 300px;
	margin-top: 3px;
}

.devil-bridge {
	position: relative;
	max-height: 322px;
	overflow: hidden;
}

.devil-bridge-photo {
	position: absolute;
	line-height: 0;
	top: -76px;
}

.devil-bridge-info {
	float: right;
	text-align: center;
	width: 400px;
	padding-top: 34px;
	padding-bottom: 52px;
	color: #fff;
	background-color: #81b3d2;
}

.devil-bridge-info h2 {
	margin-bottom: 35px;
}

.devil-bridge .reason-text {
	max-width: 310px;
}

.rest {
	padding-top: 26px;
	padding-bottom: 60px;
	background: #eeeeee;
}

.rest-reason {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	text-align: center;
}

.square {
	float: left;
}

.tourists {
	float: right;
}

.hotel-choose {
	position: relative;
}

.hotel-choose-header {
	padding-top: 57px;
	text-align: center;
}

.interested {
	display: block;
	font-size: 30px;
	margin-bottom: 29px;
}

.hotel-choose-header {
	line-height: 24px;
}

.hotel-searchform-trigger {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 47px;
	padding-top: 31px;
	padding-bottom: 29px; 
	z-index: 2;
	font-size: 21px;
	line-height: 26px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	max-width: 568px;
	background-color: #766357;
}

.hotel-searchform-trigger:hover {
	background: #604e43;
}

.hotel-searchform {
	display: none;
	position: absolute;
	max-width: 568px;
	box-sizing: border-box;
	padding: 55px;
	z-index: 1;
	right: 0;
	left: 0;
	margin: 0 auto;
	box-shadow: 0 0 15px #afafaf;
	background-color: #ffffff;
}

.hotel-searchform-open {
	display: block;
	animation: appear 0.6s;
}

@keyframes appear {
	0% {transform: translateX(-1000px);}
	50% {transform: translateX(100px);}
	100% {transform: translateX(0px);}
}

.hotel-searchform label {
	display: inline-block;
	vertical-align: top;
	width: 109px;
	font-size: 14px;
	line-height: 26px;
	padding: 6px 0;
	font-weight: bold;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; 
}

.arrival,
.departure {
	position: relative;
	margin-bottom: 29px; 
}

.departure {
	margin-bottom: 30px; 
}

.arrival input,
.departure input {
	box-sizing: border-box;
	padding: 7px 39px 6px 10px;
	width: 345px;
	border: 2px solid #f2f2f2;
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	color: #000;
	background: #f2f2f2;
	font-family: 'PT Sans', 'Arial', sans-serif;
	text-transform: uppercase;
}

.date-icon {
	position: absolute;
	right: 9px;
	top: 8px;
	outline: none;
}

.date-icon:before {
	display: block;
	content: '';
	width: 21px;
  height: 22px;
  background-image: url('../img/sprite.png');
	background-repeat: no-repeat; 
  background-position: -10px -190px;
}

.date-icon:hover:before {
	cursor: pointer;
  background-position: -10px -274px;
}

.date-icon:active:before {
  background-position: -10px -232px;
}

.adult label {
	width: 112px;
}

.adult input,
.children input {
	box-sizing: border-box;
	padding: 7px 7px 6px 7px;
	width: 38px;
	border: 2px solid #f2f2f2;
	font-family: 'PT Sans', 'Arial', sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	text-transform: uppercase;
	text-align: center;
	color: #000;
	background: #f2f2f2;
}

.hotel-searchform input:hover {
	background: #ebebeb;
	border-color: #ebebeb;
	cursor: default;
}

.hotel-searchform input:focus {
	outline: none;
	background: #ffffff;
	border: 2px solid #e5e5e5;
}

.adult,
.children {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
}

.children label {
	margin-left: 50px;
	width: 64px;
}

.minus,
.plus {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 38px;
	height: 38px;
	border: 0;
	background: #f2f2f2;
	outline: none;
}

.minus:before {
  content: '';
  position: absolute;
  display: block;
  width: 11px;
  height: 3px;
  background: #a9a9a9;
  left: 0;
  right: 0;
  top: 18px;
  margin: 0 auto;
}

.plus:before {
  content: '';
  position: absolute;
  display: block;
  width: 11px;
  height: 3px;
  background: #a9a9a9;
  left: 0;
  right: 0;
  top: 18px;
  margin: 0 auto;
}

.plus:after {
  content: '';
  position: absolute;
  display: block;
  width: 11px;
  height: 3px;
  background: #a9a9a9;
  left: 0;
  right: 0;
  top: 18px;
  margin: 0 auto;
  transform: rotate(90deg);
}

.plus:hover:before,
.plus:hover:after,
.minus:hover:before {
	background: #000000;
}

.plus:focus:before,
.plus:focus:after,
.minus:focus:before {
	background: #81b3d2;
}

.hotel-searchform .hotel-submit-button {
	width: 100%;
	font-size: 21px;
	line-height: 26px;
	background: #81b3d2;
	padding: 16px 0;
	margin-top: 54px;
	color: #ffffff;
}

.hotel-searchform .hotel-submit-button:hover {
	background: #669ec0;
	cursor: pointer;
}

.hotel-searchform .hotel-submit-button:focus {
	background: #5496bd;
	color: rgba(255,255,255,.3);
	cursor: pointer;
}

/*==== FOOTER ====*/

.main-footer {
	position: relative;
}

.map {
	line-height: 0;
}

.map iframe {
	border: none;
}

.footer-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 36px 0;
	background-image: url('../img/footer-background.png');
}

.hashtag {
	margin-left: 132px;
	max-width: 136px;
	overflow: hidden;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.footer-social {
	margin-left: 32px;
}

.social-link {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 46px;
	height: 48px;
	font-size: 0;
	margin-right: 3px;
	background-color: #81b3d2;
}

.social-link:hover {
	background-color: #669ec0;
}

.social-link:focus {
	background-color: #5496bd;
}

.social-link:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url('../img/sprite.png');
	background-repeat: no-repeat; 
}

.social-link:focus:before {
	opacity: 0.3;
}

.social-link-twitter:before {
	width: 17px;
	height: 15px;
	background-position: -10px -985px;
}

.social-link-facebook:before {
	width: 10px;
	height: 19px;
	background-position: -10px -483px;
}

.social-link-youtube:before {
	width: 20px;
	height: 16px;
	background-position: -10px -1020px; 
}

.footer-copyright {
	cursor: pointer;
	float: right;
	position: relative;
}

.footer-copyright:after {
	content: '';
	position: absolute;
	width: 113px;
	height: 39px;
	right: -121px;
	top: -9px;
	background-image: url('../img/sprite.png');
	background-position: -10px -523px;
}

.footer-copyright:hover:after {
	background-position: -10px -641px;
}

.footer-copyright:active:after,
.footer-copyright:focus:after {
	background-position: -10px -582px;
}

/*==== HOTELS PAGE STYLES ====*/

.filters {
	background-image: url('../img/filter-background.jpg');
	padding: 0 6%;
	padding-top: 7px;
}

.filters h4 {
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 18px;
}

.hotel-filters {
	padding-bottom: 13px;
}

.infrastructure, 
.accomodation,
.cost {
	display: inline-block;
	vertical-align: top;
}

.hotel-filters input[type="checkbox"] {
	float: left;
}

.hotel-filters label {
	display: block;
	color: #ffffff;
	margin-bottom: 18px;
	margin-left: 8px;
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; 
}

.hotel-filters input[type="checkbox"] {
	display:none;            
}

.infrastructure label::before {
	content: "";
	display: inline-block;
	height: 22px;
	width: 26px;
	position: relative;
	top: 5px;
	left: -9px;
	margin: 0 5px 0 0;
	background-image: url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: -10px -316px;
}

input[type="checkbox"]:checked + label::before {
	width: 26px;
	background-position: -10px -358px;
}

.infrastructure {
	width: 250px;
}

.accomodation {
	width: 288px;
}

.accomodation label::before {
	content: "";
	display: inline-block;
	height: 22px;
	width: 26px;
	position: relative;
	top: 5px;
	left: -11px;
	margin: 0 5px 0 0;
	background-image: url('../img/sprite.png');
	background-repeat: no-repeat;
	background-position: -10px -316px;
}

.accomodation label {
	margin-left: 11px;
}

.cost {
	float: right;
	width: 328px;
}

.cost h4 {
	margin-bottom: 10px;
}

.cost-fieldset {
	position: relative;
	padding-top: 5px;
	margin-bottom: 20px;
	margin-left: 10px;
	height: 27px;
	border: 2px solid #ffffff;
  border-radius: 2px;
}

.cost-fieldset:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.cost-fieldset label {
	display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  cursor: pointer;
  margin: 0; 
}

.cost-fieldset .min-price,
.cost-fieldset .max-price {
  width: 90px;
  padding-left: 64px;
}

.cost-fieldset .max-price {
	padding-left: 54px;
}

.cost-fieldset input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
  margin-left: 10px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.hotels-show {
	display: block;
  margin: 0 auto;
  padding: 6px 31px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.hotels-show:hover {
	color: #000000;
  background: #ffffff;
}

.results-header {
	padding: 30px 6%;
	border-bottom: 1px solid #e5e5e5;
}

.results-header h2,
.results-header span, 
.sort-by,
.sort-by li {
	display: inline-block;
	vertical-align: baseline;
}

.results-header span {
	margin-left: 44px;
	margin-right: 36px;
	font-size: 12px;
	line-height: 18px;
}

.sort-by li {
	font-size: 12px;
	line-height: 18px;
	margin-right: 29px;
}

.sort-by .active {
	color: #81b3d2;
}

.sort-by a {
	border-bottom: 1px dotted  #81b3d2;
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
}

.sort-by a:hover {
	color: #81b3d2;
}

.sort-by a:focus {
	color: #000000;
	border-bottom: none;
}

.results-arrows {
	float: right;
}

.results-arrows a {
	display: inline-block;
	vertical-align: top;
	width: 11px;
	height: 10px;
	margin: 10px 1px 2px 7px;
	background-image: url('../img/sprite.png');
}

.arrow-up {
	background-position: -10px -100px;
}

.arrow-up-active {
	background-position: -10px -130px;
}

.arrow-up:hover {
	background-position: -10px -160px;
}

.arrow-up:focus {
	background-position: -10px -130px;
}

.arrow-down {
	background-position: -10px -10px;
}

.arrow-down-active {
	background-position: -10px -40px;
}

.arrow-down:hover {
	background-position: -10px -70px;
}

.arrow-down:focus {
	background-position: -10px -40px;
}

.results-content-item {
	position: relative;
	padding: 0 6%;
	padding-top: 25px;
	padding-bottom: 24px;
	border-bottom: 1px solid #e5e5e5;
}

.hotels-image {
	display: inline-block;
	vertical-align: top;
	margin-right: 26px;
	margin-top: 5px;
}

.hotels-info {
	display: inline-block;
	vertical-align: top;
	max-width: 360px;
}

.hotels-name {
	color: #000000;
	text-decoration: none;
}

.hotels-name:hover {
	color: #81b3d2;
}

.hotels-name:focus {
	color: rgba(0, 0, 0, 0.3);
}

.hotels-info span {
	display: inline-block;
	vertical-align: top;
	margin: 7px 0;
	width: 111px;
}

.hotel-actions {
	font-size: 0;
	margin-top: 10px;
}

.hotels-about,
.hotels-book {
	padding: 4px 17px 5px 17px;
	color: #ffffff;
	font-size: 14px;
	text-decoration: none;
}

.hotels-about {
	background: #81b3d2;
	margin-right: 6px;
}

.hotels-about:hover {
	background: #669ec0;
}

.hotels-about:focus,
.hotels-book:focus {
	color: rgba(255, 255, 255, 0.3);
}

.hotels-book {
	background: #766357;
}

.hotels-book:hover {
	background: #604e43;
}

.rating-stars {
	position: absolute;
	right: 6%;
	top: 29px;
}

.rating-stars li {
	display: inline-block;
	vertical-align: top;
	width: 17px;
	height: 17px;
	margin-left: 3px;
	background-image: url('../img/sprite.png');
	background-position: -10px -948px;
}

.rating-number {
	position: absolute;
	right: 6%;
	bottom: 30px;
	padding: 3px 14px;
	background: #f2f2f2;
}

.footer-hotels {
	position: static;
	background: #fff;
}
