body {
	font-size: 14px;
	line-height: 21px;
	color: #000;
	font-weight: normal;
	font-family: 'PT Sans', 'Arial', sans-serif;
	text-transform: uppercase;
	margin: 0;
	background-color: #f2f2f2;
}

h2 {
	font-size: 21px;
	line-height: 26px;
	margin: 0;
}

h3 {
	font-size: 21px;
	line-height: 21px;
} 

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.container {
	width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 0 15px #dbdbdb;
}

.main-header {
	position: relative;
	padding: 15px 6%;
}

.main-navigation ul{

}

.main-navigation li {
	display: inline-block;
	vertical-align: top;
	width: 20%;
}

.main-navigation li:last-of-type,
.main-navigation li:nth-of-type(3) {
	float: right;
	text-align: right;
}
.main-navigation a{
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
	color: #000000;
}

.header-logo {
	position: absolute;
	width: 137px;
	height: 69px;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	margin: 0 auto;
	background-image: url('../img/header-logo.png');
}
.sedona-photo {
	position: relative;
	background: url('../img/sedona-background.jpg');
	height: 773px;
}

.sedona-photo:after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 57px;
	background-image: url('../img/white.png');
}

.sedona-text-welcome {
	position: relative;
	background: url('../img/welcome.png');
	height: 86px;
	width: 188px;
	top: 75px;
	margin: 0 auto;
}

.sedona-text-name {
	position: relative;
	background: url('../img/sedona.png');
	height: 78px;
	width: 458px;
	top: 215px;
	margin: 0 auto;
}

.sedona-text-slogan {
	position: relative;
	background: url('../img/slogan.png');
	width: 296px;
	height: 80px;
	top: 348px;
	margin: 0 auto;
}

.sedona-info {
	padding-top: 63px;
	padding-bottom: 56px;
	text-align: center;
}

.sedona-info h2 {
	margin-bottom: 35px;
}

.real-town-info {
	float: left;
	width: 400px;
	padding: 37px 0;
	text-align: center;
	color: #fff;
	background-color: #81b3d2;
}

.reason-number {
	display: block;
	padding-top: 5px;
	padding-bottom: 30px;
}

.real-town-photo {
	float: right;
	line-height: 0;
}

.features {
	padding-top: 60px;
	padding-bottom: 85px;
}

.features-item {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	text-align: center;
}

.features-item:first-child {
	float: left;
}

.features-item:last-child {
	float: right;
}

.devil-bridge-photo {
	float: left;
	line-height: 0;
}

.devil-bridge-info {
	float: right;
	text-align: center;
	width: 400px;
	padding: 37px 0;
	color: #fff;
	background-color: #81b3d2;
}

.devil-bridge-info h2 {
	margin-bottom: 35px;
}

.rest {
	padding-top: 30px;
	padding-bottom: 45px;
	background: #eeeeee;
}

.rest-reason {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	text-align: center;
}

.square {
	float: left;
}

.tourists {
	float: right;
}

.hotel-choose {
	position: relative;
}
.hotel-choose-header {
	padding-top: 60px;
	text-align: center;
}

.interested {
	display: block;
	font-size: 30px;
	margin-bottom: 35px;
}


.hotel-searchform-trigger {
	position: relative;
	display: block;
	margin: 0 auto;
	margin-top: 52px;
	padding: 33px 0;
	z-index: 2;
	font-size: 21px;
	line-height: 25px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	max-width: 568px;
	line-height: 21px;
	background-color: #766357;
}

.hotel-searchform {
	position: absolute;
	max-width: 568px;
	z-index: 1;
	right: 0;
	left: 0;
	margin: 0 auto;
	text-align: center;
	box-shadow: 0 0 15px;
	background-color: #ffffff;
}

/*==== FOOTER ====*/

.main-footer {
	position: relative;
}

.map {
	line-height: 0;
}

.footer-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 35px 0;
	background-image: url('../img/footer-background.png');
}

.hashtag {
	margin-left: 135px;
	max-width: 136px;
	overflow: hidden;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.footer-social {
	font-size: 0;
}

.social-link {
	display: inline-block;
	vertical-align: top;
	width: 46px;
	height: 48px;
	margin-right: 5px;
}

.social-link-twitter {
	background: #81b3d2 url('../img/twitter.png') no-repeat 50% 50%; 
}

.social-link-facebook {
	background: #81b3d2 url('../img/facebook.png') no-repeat 50% 50%; 
}

.social-link-youtube {
	background: #81b3d2 url('../img/youtube.png') no-repeat 50% 50%; 
}

.footer-copyright {
	float: right;
	position: relative;
}

.footer-copyright:after {
	content: '';
	position: absolute;
	width: 113px;
	height: 39px;
	right: -122px;
	top: -9px;
	background-image: url('../img/footer-logo.png');
}

/*==== HOTELS PAGE STYLES ====*/

.filters {
	background-image: url('../img/filter-background.jpg');
	padding: 0 6%;
	padding-top: 7px;
}

.filters h4 {
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 30px;
}

.infrastructure, 
.accomodation,
.cost {
	display: inline-block;
	vertical-align: top;
}

.hotel-filters input[type="checkbox"] {
	float: left;
}

.hotel-filters label {
	display: block;
	color: #ffffff;
	margin-bottom: 28px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; 
}

.infrastructure {
	width: 240px;
}

.accomodation {
	width: 288px;
}

.cost {
	float: right;
	width: 328px;
}

.cost-fieldset {
	text-align: right;
}

.range {
	text-align: right;
}

.hotels-show {
	display: block;
	width: 133px;
	padding: 4px 0;
	margin: 0 auto;
	font-family: 'PT Sans', 'Arial' ,sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
	background: none;
	border: 2px solid #ffffff;
	border-radius: 5px;
}

.footer-hotels {
	position: static;
	background: #fff;
}
