body {
	font-size: 14px;
	line-height: 21px;
	color: #000;
	font-weight: normal;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
}
h2 {
	font-size: 21px;
	line-height: 26px;
}
h3 {
	font-size: 21px;
	line-height: 21px;
}